<md-card-content fxLayout ="row" fxLayoutGap="5%" >
    <div fxLayout="column" fxLayoutAlign="space-around">
      <app-date-badge [date]="publication.date" [class]="getAuthorshipClass()"></app-date-badge>
      <div style="text-align: center">{{publication.type}}</div>
    </div>
    <div fxLayout="column" >
      <div class="title">{{publication.title}}</div>
      <span class="subtitle" *ngIf="publication.subtitle">{{publication.subtitle}}</span>
      <span *ngIf="publication.author">by {{publication.author}}</span>
      <span *ngIf="publication.publishedIn">published in: {{publication.publishedIn}}</span>
    </div>
</md-card-content>
