h2 {
  display:inline-block;
}


.title {
  font-weight: bold;
  font-size: larger;
}

.subtitle {
  font-weight: bold;
  font-style: italic;
}

.publicationType {
  text-align: center;
  font-size: small;
}
