/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic';

body {
  font-family: Roboto, sans-serif;
}
.spacer{
  flex: 1 1 auto;
}

.pill
{
  background-color: darkgray;
}

.first-authorship .pill,
.pill.first-authorship
{
  background-color: #3f51b5 !important;
}

.second-authorship .pill,
.pill.second-authorship
{
  background-color: #3A9B6F !important;
}

.parallel-authorship-aesthetic
{
  font-style: italic;
}

.pill
{
  display: inline-block;
  color: white;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 10px;
}
